<div class="bg">
<div class="container">
<div class="jumbotron">
  <h1>Got Questions<i class="fa fa-question animated infinite bounce" aria-hidden="true"></i></h1>
  <p>Ask What you  don't know <br>
  	 Answer What you know</p>
  <p>
  		<button class="btn btn-primary btn-lg">{{#link-to 'about'}}<span class="clickhere">Wiz Click</span>
  		{{/link-to}}</button>
  </p>
</div>
</div>
</div>